In [1]:
import pandas as pd
import numpy as np

In [2]:
original_data = pd.read_csv('C:\\Users\\Admin\\Desktop\\600000SH.csv',encoding='gbk')
original_data.head()

,代码,简称,日期,前收盘价(元),开盘价(元),最高价(元),最低价(元),收盘价(元),成交量(股),成交金额(元),...,B股流通市值(元),总市值(元),A股流通股本(股),B股流通股本(股),总股本(股),市盈率,市净率,市销率,市现率,Unnamed: 24
0,600000.SH,浦发银行,1999-11-10,NaN,3.6043,3.6409,3.2988,3.3904,174085100.0,4.859102e+09,...,NaN,6.687750e+10,320000000,0,2410000000,77.8154,20.0622,22.3593,-22.9849,NaN
1,600000.SH,浦发银行,1999-11-11,3.3904,3.3697,3.4674,3.3636,3.3856,29403500.0,8.215822e+08,...,NaN,6.678110e+10,320000000,0,2410000000,77.7032,20.0333,22.3271,-22.9517,NaN
2,600000.SH,浦发银行,1999-11-12,3.3856,3.4039,3.4576,3.3929,3.4271,15008000.0,4.215916e+08,...,NaN,6.760050e+10,320000000,0,2410000000,78.6566,20.2791,22.6010,-23.2334,NaN
3,600000.SH,浦发银行,1999-11-15,3.4271,3.4454,3.4515,3.3843,3.3904,11921100.0,3.329528e+08,...,NaN,6.687750e+10,320000000,0,2410000000,77.8154,20.0622,22.3593,-22.9849,NaN
4,600000.SH,浦发银行,1999-11-16,3.3904,3.4063,3.4173,3.2353,3.2438,23223100.0,6.289083e+08,...,NaN,6.398550e+10,320000000,0,2410000000,74.4504,19.1947,21.3924,-21.9909,NaN

##评估数据

In [3]:
original_data.sample(10)

,代码,简称,日期,前收盘价(元),开盘价(元),最高价(元),最低价(元),收盘价(元),成交量(股),成交金额(元),...,B股流通市值(元),总市值(元),A股流通股本(股),B股流通股本(股),总股本(股),市盈率,市净率,市销率,市现率,Unnamed: 24
1231,600000.SH,浦发银行,2004-12-27,1.3532,1.3513,1.3608,1.3304,1.3380,2807350.0,1.980505e+07,...,NaN,2.752245e+10,900000000,0,3915000000,17.5740,2.2915,3.2125,6.9959,NaN
48,600000.SH,浦发银行,2000-01-20,2.9482,2.9469,3.0117,2.9445,2.9860,5114400.0,1.246682e+08,...,NaN,5.890040e+10,400000000,0,2410000000,63.5598,7.5746,20.5547,30.3888,NaN
917,600000.SH,浦发银行,2003-09-10,1.8772,1.8753,1.8998,1.8565,1.8960,4730687.0,4.723661e+07,...,NaN,3.946320e+10,900000000,0,3915000000,30.7033,4.9574,6.4490,2.7564,NaN
1654,600000.SH,浦发银行,2006-09-25,2.7134,2.7006,2.7210,2.5986,2.6369,28390852.0,2.940812e+08,...,NaN,4.048110e+10,1170000000,0,3915000000,15.8253,2.5349,2.7787,-12.1925,NaN
3891,600000.SH,浦发银行,2015-12-10,19.2300,19.3400,19.8800,19.1100,19.2700,57091310.0,1.108935e+09,...,NaN,3.594524e+11,18653471415,0,18653471415,7.6437,1.3816,2.9181,-4.6482,NaN
1142,600000.SH,浦发银行,2004-08-17,1.6558,1.6539,1.6654,1.6349,1.6501,1947104.0,1.685714e+07,...,NaN,3.394305e+10,900000000,0,3915000000,21.6738,2.8260,3.9619,8.6280,NaN
1032,600000.SH,浦发银行,2004-03-09,1.9524,1.9524,1.9750,1.9355,1.9449,7144365.0,7.424606e+07,...,NaN,4.048110e+10,900000000,0,3915000000,25.8485,3.3704,4.7250,10.2899,NaN
304,600000.SH,浦发银行,2001-02-26,2.4299,2.5394,2.5394,2.4447,2.4521,1329856.0,2.677219e+07,...,NaN,4.805540e+10,400000000,0,2410000000,50.1672,6.4549,14.1554,9.8869,NaN
3077,600000.SH,浦发银行,2012-08-02,6.4523,6.4776,6.5535,6.4523,6.5366,75444190.0,5.819665e+08,...,NaN,1.445644e+11,14922777132,0,18653471415,5.2981,0.9709,2.1285,0.9968,NaN
843,600000.SH,浦发银行,2003-05-29,2.5108,2.4996,2.5220,2.4530,2.4977,18835574.0,2.511372e+08,...,NaN,5.242185e+10,900000000,0,3915000000,40.7854,6.5853,8.5667,3.6616,NaN

In [4]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4013 entries, 0 to 4012
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   代码           4013 non-null   object
 1   简称           4013 non-null   object
 2   日期           4013 non-null   object
 3   前收盘价(元)      4012 non-null   float64
 4   开盘价(元)       4013 non-null   float64
 5   最高价(元)       4013 non-null   float64
 6   最低价(元)       4013 non-null   float64
 7   收盘价(元)       4013 non-null   float64
 8   成交量(股)       3895 non-null   float64
 9   成交金额(元)      3895 non-null   float64
 10  涨跌(元)        4012 non-null   float64
 11  涨跌幅(%)       4012 non-null   float64
 12  均价(元)        3895 non-null   float64
 13  换手率(%)       3895 non-null   float64
 14  A股流通市值(元)    4013 non-null   float64
 15  B股流通市值(元)    0 non-null      float64
 16  总市值(元)       4013 non-null   float64
 17  A股流通股本(股)    4013 non-null   int64
 18  B股流通股本(股)    4013 non-null   int64
 19  总股本(股)       4013 non-null   int64
 20  市盈率          4013 non-null   float64
 21  市净率          4013 non-null   float64
 22  市销率          4013 non-null   float64
 23  市现率          4013 non-null   float64
 24  Unnamed: 24  0 non-null      float64
dtypes: float64(19), int64(3), object(3)
memory usage: 783.9+ KB

In [5]:
original_data.drop("Unnamed: 24",axis=1,inplace=True)

In [11]:
original_data[original_data["成交量(股)"].isnull()]

,代码,简称,日期,前收盘价(元),开盘价(元),最高价(元),最低价(元),收盘价(元),成交量(股),成交金额(元),...,A股流通市值(元),B股流通市值(元),总市值(元),A股流通股本(股),B股流通股本(股),总股本(股),市盈率,市净率,市销率,市现率
110,600000.SH,浦发银行,2000-05-08,3.0545,3.0545,3.0545,3.0545,3.0545,NaN,NaN,...,1.000000e+10,NaN,6.025000e+10,400000000,0,2410000000,65.0162,7.7481,21.0257,31.0851
247,600000.SH,浦发银行,2000-11-22,2.6919,2.6919,2.6919,2.6919,2.6919,NaN,NaN,...,8.756000e+09,NaN,5.275490e+10,400000000,0,2410000000,56.9282,6.7843,18.4101,27.2182
364,600000.SH,浦发银行,2001-05-28,2.4742,2.4742,2.4742,2.4742,2.4742,NaN,NaN,...,8.048000e+09,NaN,4.848920e+10,400000000,0,2410000000,50.6201,6.5132,14.2832,9.9761
436,600000.SH,浦发银行,2001-09-05,1.9331,1.9331,1.9331,1.9331,1.9331,NaN,NaN,...,6.288000e+09,NaN,3.788520e+10,400000000,0,2410000000,39.5501,5.0888,11.1596,7.7945
536,600000.SH,浦发银行,2002-02-04,1.7278,1.7278,1.7278,1.7278,1.7278,NaN,NaN,...,5.620000e+09,NaN,3.386050e+10,400000000,0,2410000000,31.8874,4.7916,8.0778,-36.1474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3946,600000.SH,浦发银行,2016-03-04,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3947,600000.SH,浦发银行,2016-03-07,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3948,600000.SH,浦发银行,2016-03-08,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3949,600000.SH,浦发银行,2016-03-09,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3950,600000.SH,浦发银行,2016-03-10,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342

In [7]:
original_data[(original_data["成交量(股)"].isnull()) & (original_data["成交金额(元)"].isnull())]

,代码,简称,日期,前收盘价(元),开盘价(元),最高价(元),最低价(元),收盘价(元),成交量(股),成交金额(元),...,A股流通市值(元),B股流通市值(元),总市值(元),A股流通股本(股),B股流通股本(股),总股本(股),市盈率,市净率,市销率,市现率
110,600000.SH,浦发银行,2000-05-08,3.0545,3.0545,3.0545,3.0545,3.0545,NaN,NaN,...,1.000000e+10,NaN,6.025000e+10,400000000,0,2410000000,65.0162,7.7481,21.0257,31.0851
247,600000.SH,浦发银行,2000-11-22,2.6919,2.6919,2.6919,2.6919,2.6919,NaN,NaN,...,8.756000e+09,NaN,5.275490e+10,400000000,0,2410000000,56.9282,6.7843,18.4101,27.2182
364,600000.SH,浦发银行,2001-05-28,2.4742,2.4742,2.4742,2.4742,2.4742,NaN,NaN,...,8.048000e+09,NaN,4.848920e+10,400000000,0,2410000000,50.6201,6.5132,14.2832,9.9761
436,600000.SH,浦发银行,2001-09-05,1.9331,1.9331,1.9331,1.9331,1.9331,NaN,NaN,...,6.288000e+09,NaN,3.788520e+10,400000000,0,2410000000,39.5501,5.0888,11.1596,7.7945
536,600000.SH,浦发银行,2002-02-04,1.7278,1.7278,1.7278,1.7278,1.7278,NaN,NaN,...,5.620000e+09,NaN,3.386050e+10,400000000,0,2410000000,31.8874,4.7916,8.0778,-36.1474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3946,600000.SH,浦发银行,2016-03-04,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3947,600000.SH,浦发银行,2016-03-07,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3948,600000.SH,浦发银行,2016-03-08,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3949,600000.SH,浦发银行,2016-03-09,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342
3950,600000.SH,浦发银行,2016-03-10,18.4500,18.4500,18.4500,18.4500,18.4500,NaN,NaN,...,3.441565e+11,NaN,3.441565e+11,18653471415,0,18653471415,6.8010,1.0920,2.3484,4.5342

In [8]:
cleaned_data = original_data.copy()

In [9]:
cleaned_data

,代码,简称,日期,前收盘价(元),开盘价(元),最高价(元),最低价(元),收盘价(元),成交量(股),成交金额(元),...,A股流通市值(元),B股流通市值(元),总市值(元),A股流通股本(股),B股流通股本(股),总股本(股),市盈率,市净率,市销率,市现率
0,600000.SH,浦发银行,1999-11-10,NaN,3.6043,3.6409,3.2988,3.3904,174085100.0,4.859102e+09,...,8.880000e+09,NaN,6.687750e+10,320000000,0,2410000000,77.8154,20.0622,22.3593,-22.9849
1,600000.SH,浦发银行,1999-11-11,3.3904,3.3697,3.4674,3.3636,3.3856,29403500.0,8.215822e+08,...,8.867200e+09,NaN,6.678110e+10,320000000,0,2410000000,77.7032,20.0333,22.3271,-22.9517
2,600000.SH,浦发银行,1999-11-12,3.3856,3.4039,3.4576,3.3929,3.4271,15008000.0,4.215916e+08,...,8.976000e+09,NaN,6.760050e+10,320000000,0,2410000000,78.6566,20.2791,22.6010,-23.2334
3,600000.SH,浦发银行,1999-11-15,3.4271,3.4454,3.4515,3.3843,3.3904,11921100.0,3.329528e+08,...,8.880000e+09,NaN,6.687750e+10,320000000,0,2410000000,77.8154,20.0622,22.3593,-22.9849
4,600000.SH,浦发银行,1999-11-16,3.3904,3.4063,3.4173,3.2353,3.2438,23223100.0,6.289083e+08,...,8.496000e+09,NaN,6.398550e+10,320000000,0,2410000000,74.4504,19.1947,21.3924,-21.9909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4008,600000.SH,浦发银行,2016-06-02,18.1900,18.2000,18.3000,17.9300,18.0200,17786525.0,3.217688e+08,...,3.361356e+11,NaN,3.541467e+11,18653471415,0,19652981747,6.9984,1.1237,2.4166,4.6658
4009,600000.SH,浦发银行,2016-06-03,18.0200,18.1200,18.1300,17.9000,18.0100,18003512.0,3.237460e+08,...,3.359490e+11,NaN,3.539502e+11,18653471415,0,19652981747,6.9945,1.1230,2.4152,4.6632
4010,600000.SH,浦发银行,2016-06-06,18.0100,18.0500,18.1100,17.9700,18.0200,17856247.0,3.218658e+08,...,3.361356e+11,NaN,3.541467e+11,18653471415,0,19652981747,6.9984,1.1237,2.4166,4.6658
4011,600000.SH,浦发银行,2016-06-07,18.0200,18.1000,18.1300,17.9700,18.0200,16533983.0,2.981454e+08,...,3.361356e+11,NaN,3.541467e+11,18653471415,0,19652981747,6.9984,1.1237,2.4166,4.6658
4012,600000.SH,浦发银行,2016-06-08,18.0200,18.0100,18.0700,17.9700,17.9900,23758300.0,4.277416e+08,...,3.355760e+11,NaN,3.535571e+11,18653471415,0,19652981747,6.9867,1.1218,2.4125,4.6580

In [19]:
original_data["前收盘价(元)"].min()

1.2546

In [21]:
original_data["日期"] = pd.to_datetime(original_data["日期"])

In [22]:
original_data["日期"]

0      1999-11-10
1      1999-11-11
2      1999-11-12
3      1999-11-15
4      1999-11-16
          ...
4008   2016-06-02
4009   2016-06-03
4010   2016-06-06
4011   2016-06-07
4012   2016-06-08
Name: 日期, Length: 4013, dtype: datetime64[ns]